#news {
    background: #fefefe;
    padding: 20px;
    color: #777;
    text-align: justify;
    box-shadow: 0px 4px 8px #ccc;
}

#news .share {
    float: right;
    margin-top: -22px;
}

#news p .news-image {
    border-radius: 50% !important;
    float: right;
    padding-left: 20px;
    height: auto;
}

#news p .news2-image {
    border-radius: 4px !important;
    float: right;
    padding-left: 20px;
    height: auto;
    margin: -60px 0 0 0;
}

#news p .news3-image {
    border-radius: 50% !important;
    float: right;
    padding-left: 20px;
    height: auto;
    width: 150px;
    margin-top: -40px;
}

.more {
    background: #999;
    padding: 5px;
    border-radius: 4px;
    color: #eee;
    text-decoration: none;
}

.more:hover {
    background: #444;
}

.news p {
	text-align: justify;
}

#covid19 header h3 {
    color: #333 !important;
    font-size: 2.3em;
    text-shadow: 0px 2px 3px #aaa;
    text-align: center;
}

#covid19 {
    padding: 20px 0 40px;
    background: url("https://images.assetsdelivery.com/compings_v2/samarttiw/samarttiw1503/samarttiw150300009.jpg" ) repeat;
    text-align: center;
}

#covid19 hr {
    margin: 0px auto 30px;
}

.covid19-item img {
    border-radius: 30px;
}

.covid19-item {
    display: inline-block;
    margin: 5px 10px;
    border-radius: 30px;
    box-shadow: 0px 3px 4px #aaa;
}

article {
    display: flex;
    flex-direction: row;
    flex: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}